<p>merchant <%=@merchant.name%> successfully added. </p>

<p>would you like to <a href="/spending-tracker/transactions/new">add a new transaction</a> or <a href="/spending-tracker/merchants/new">add another merchant</a>?
