<h2>Edit merchant - <%=@merchant.name%></h2>

<form method="post" action="/spending-tracker/merchants/<%= @merchant.id %>">
  <label for="name">Name of merchant</label>
  <input type="text" id="name" name="name" value="<%=@merchant.name%>">
  <input type ="submit" value="save changes">
  </form>
