<h2>Edit merchant - <%=@merchant.name%></h2>

<form method="post" action="/spending-tracker/merchants/<%= @merchant.id %>">
  <label for="name">Name of merchant</label>
  <input type="text" id="name" name="name" value="<%=@merchant.name%>">
  <input type ="submit" value="save changes">
  </form>

<p>
  <form method="post" action="/spending-tracker/merchants/<%=@merchant.id%>/delete">
  <input type="submit" value="Delete"/>
  </form>
  <p>
    Warning! Deleting merchant data will delete all transactions associated with this merchant. This action cannot be undone!!</p>
