<h2>Add new merchant</h2>

<div class="form">
<form method="post" action="/spending-tracker/merchants">
  <label for="name">Name of merchant</label>
  <input type="text" id ="name" name="name" required/>

  <input type ="submit" value="add to merchants">
</form>
</div>
