<p>add new merchant info</p>
<form method="post" action="/spending-tracker/merchants">
  <label for="name">Name of merchant</label>
  <input type="text" id ="name" name="name" />
  
  <input type ="submit" value="add to merchants">
</form>
