<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Patua+One|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Spending Tracker</title>
  </head>
  <body>
    <nav class="nav_bar">
      <ul>
        <li><a href="/spending-tracker/">Home</a></li>
        <li><a href="/spending-tracker/transactions">View all transactions</a></li>
        <li><a href="/spending-tracker/transactions/new">Add new transaction</a></li>
        <li><a href="/spending-tracker/merchants">View all merchants</a></li>
        <li><a href="/spending-tracker/merchants/new">Add new merchant</a></li>
        <li><a href="/spending-tracker/tags">View all tags</a></li>
        <li><a href="/spending-tracker/tags/new">Add new tag</a></li>
      </ul>
    </nav>
    <div class="content">
    <%= yield %>
    </div>
  </body>
</html>
