<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spending Tracker</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/spending-tracker/">Home</a></li>
        <li><a href="/spending-tracker/transactions">View all transactions</a></li>
        <li><a href="/spending-tracker/transactions/new">Add new transaction</a></li>
        <li><a href="/spending-tracker/merchants">View all merchants</a></li>
        <li><a href="/spending-tracker/merchants/new">Add new merchant</a></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
