@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(https://fonts.gstatic.com/s/patuaone/v9/ZXuke1cDvLCKLDcimxB44_luFgxbuQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qNq7lujVj9_mf.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7lujVj9w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  background-color: #E8EEF2;
  background-image: url("old-mathematics.png");
  /* from https://www.transparenttextures.com/ */
}

.nav_bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #C7D3DD;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
}

.nav_bar ul {
  list-style: none;
  display: flex;
justify-content: flex-start;
}

.nav_bar li {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_bar a {
  font-family: 'Patua One', sans-serif;
  font-size: 1em;
  color: #E8EEF2;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0.5em 0.25em 0.5em 0.25em;
  background-color: #16BAC5;
  border-radius: 5px;
}

.nav_bar a:hover {
  font-family: 'Patua One', sans-serif;
  font-size: 1em;
  color: #E8EEF2;
  text-decoration: none;
  text-transform: lowercase;
  padding: 0.5em 0.25em 0.5em 0.25em;
  border-radius: 5px;
  background-color: #91D6DA;
  color: #E8EEF2;
}

.content {
  padding-top: 50px;
  padding-left: 1em;
  width: 97vw;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  color: #171D1C;
}


 h1 {
   font-family: 'Patua One', sans-serif;
   font-size: 3.5em;
   color: #171D1C;
 }

 h2 {
   font-family: 'Patua One', sans-serif;
   font-size: 1.75em;
   color: #171D1C;
 }

 th {
   font-family: 'Patua One', sans-serif;
   font-size: 1.15em;
   color: #171D1C;
 }

td {
  width: 5.5em;
  text-align: center;
}

select {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding: 0.5em 0.25em 0.5em 0.25em;
  border-radius: 5px;
  background-color: #E8EEF2;
  color: #171D1C;
  font-size: 0.85em;
}

input[type=text], [type=number] {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  padding: 5px 7px 5px 15px;
  border: 1px #171D1C;
  border-radius: 5px;
  background-color: #E8EEF2;
  color: #171D1C;
  font-size: 0.85em;
}

input[type=submit] {
font-family: 'Source Sans Pro', Helvetica, sans-serif;
padding: 0.15em 0.5em 0.15em 0.5em;
border-radius: 5px;
background-color: #E8EEF2;
color: #16BAC5;
font-size: 0.85em;
}

input[type=submit]:hover {
font-family: 'Source Sans Pro', Helvetica, sans-serif;
padding: 0.15em 0.5em 0.15em 0.5em;
border-radius: 5px;
background-color: #E8EEF2;
color: #C7D3DD;
font-size: 0.85em;
}

.delete {
    border: #EF7B7B;
    border-style: solid;
    border-radius: 5px;
    margin-top: 2em;
    padding: 5px;
    width: 50vw;
    text-align: center;
}

.delete input[type=submit] {
font-family: 'Source Sans Pro', Helvetica, sans-serif;
padding: 0.15em 0.5em 0.15em 0.5em;
border-radius: 5px;
background-color: #E8EEF2;
color: #EF7B7B;
font-size: 1em;
}


.delete input[type=submit]:hover {
font-family: 'Source Sans Pro', Helvetica, sans-serif;
padding: 0.15em 0.5em 0.15em 0.5em;
border-radius: 5px;
background-color: #E8EEF2;
color: #C7D3DD;
font-size: 1em;
}

a {
font-family: 'Source Sans Pro', Helvetica, sans-serif;
padding: 0.15em 0.5em 0.15em 0.5em;
border-radius: 5px;
background-color: #E8EEF2;
color: #16BAC5;
font-size: 0.85em;
text-decoration: none;
}

a:hover {
font-family: 'Source Sans Pro', Helvetica, sans-serif;
padding: 0.15em 0.5em 0.15em 0.5em;
border-radius: 5px;
background-color: #E8EEF2;
color: #C7D3DD;
font-size: 0.85em;
text-decoration: none;
}
