<img src="/wallet.png">
<h2>Edit budget</h2>


<div class = "form">
<form method="post" action="/spending-tracker/account/<%= @account.id %>">
  <label for="budget">What is your new budget?</label>
  <input type="number" id="budget" name="budget" value="<%=@account.budget%>" required>
  <input type ="submit" value="save changes">
  </form>
<p>
</div>
