<h2>Edit budget</h2>

<form method="post" action="/spending-tracker/budget/<%= @account.id %>">
  <label for="budget">Your new budget value</label>
  <input type="number" id="budget" name="budget" value="<%=@account.budget%>">
  <input type ="submit" value="save changes">
  </form>
<p>
