<h2>Your budget</h2>

<p>Your budget is set at £<%= @account.budget %></p>
<p>You have £<%= @account.remaining %> remaining</p>

<div class="fake_button">
<a href="/spending-tracker/budget/<%=@account.id%>/edit">Change details</a>
</div>
