<h2>Edit tag - <%=@tag.name%></h2>

<form method="post" action="/spending-tracker/tags/<%= @tag.id %>">
  <label for="name">Name of tag</label>
  <input type="text" id="name" name="name" value="<%=@tag.name%>">
  <input type ="submit" value="save changes">
  </form>
<p>
  <form method="post" action="/spending-tracker/tags/<%=@tag.id%>/delete">
  <input type="submit" value="Delete"/>
  </form><p>
    Warning! Deleting tag data will delete all transactions associated with this tag. This action cannot be undone!!</p>
