<p>add new tag info</p>
<form method="post" action="/spending-tracker/tags">
  <label for="name">Name of tag</label>
  <input type="text" id ="name" name="name" />

  <input type ="submit" value="add tag">
</form>
